<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldorsj.mapper.CriadorTabelasMapper">

    <update id="criarTodasAsTabelas">
        create table if not exists public.podcast
        (
            pd02_id           bigserial not null constraint podcast_pk primary key,
            pd02_nome         varchar   not null,
            pd02_data_criacao timestamp not null,
            pd02_descricao    varchar
        );
        alter table public.podcast
            owner to postgres;

        create table if not exists public.integrante
        (
            in01_id      bigserial not null constraint integrante_pk primary key,
            in01_nome    varchar   not null,
            in01_apelido varchar   not null,
            in01_sexo    char      not null
        );
        alter table public.integrante
            owner to postgres;

        create table if not exists public.episodio
        (
            ep00_id              bigserial not null constraint episodio_pk primary key,
            ep00_podcast_id      bigint    not null constraint episodio_fk references public.podcast,
            ep00_sequencia       integer   not null,
            ep00_titulo          varchar   not null,
            ep00_tema            varchar   not null,
            ep00_data_publicacao timestamp not null,
            ep00_duracao         integer   not null,
            ep00_descricao       varchar
        );
        alter table public.episodio owner to postgres;

        create table public.participacao
        (
            episodio_id   bigint not null
                constraint participacao_episodio_id_fk references public.episodio,
            integrante_id bigint not null
                constraint participacao_integrante_id_fk references public.integrante,
            constraint participacao_pk primary key (episodio_id, integrante_id)
        );
        alter table public.participacao
            owner to postgres;
    </update>

</mapper>