<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldorsj.mapper.EpisodioMapper">

    <resultMap id="rmEpisodio" type="br.com.edivaldorsj.model.Episodio">
        <id column="ep00_id" property="id"/>
        <result column="ep00_sequencia" property="sequencia"/>
        <result column="ep00_titulo" property="titulo"/>
        <result column="ep00_tema" property="tema"/>
        <result column="ep00_data_publicacao" property="dataPublicacao"/>
        <result column="ep00_duracao" property="duracao"/>
        <result column="ep00_descricao" property="descricao"/>
        <result column="ep00_podcast_id" property="podcast.id"/>
        <collection property="integrantes" ofType="br.com.edivaldorsj.model.Integrante"
                    resultMap="br.com.edivaldorsj.mapper.IntegranteMapper.rmIntegrante"/>
    </resultMap>

    <select id="recuperarTodos" resultMap="rmEpisodio">
        select ep00_id,
               ep00_podcast_id,
               ep00_sequencia,
               ep00_titulo,
               ep00_tema,
               ep00_data_publicacao,
               ep00_duracao,
               ep00_descricao
        from ep00_episodio
    </select>

    <select id="recuperarPorId" resultMap="rmEpisodio">
        select ep00_id,
               ep00_sequencia,
               ep00_titulo,
               ep00_tema,
               ep00_data_publicacao,
               ep00_duracao,
               ep00_descricao
        from ep00_episodio
        where ep00_id = #{id}
    </select>

    <select id="recuperarEpisodiosPorCombinacaoDeIntegrantes" resultType="br.com.edivaldorsj.model.Episodio">
        select distinct ep00_id as "id",
        ep00_sequencia as "sequencia",
        ep00_titulo as "titulo",
        ep00_tema as "tema",
        ep00_data_publicacao as "dataPublicacao",
        ep00_duracao as "duracao",
        ep00_descricao as "descricao",
        pd02_id as "podcast.id",
        pd02_nome as "podcast.nome",
        pd02_data_criacao as "podcast.dataCriacao",
        pd02_descricao as "podcast.descricao"
        from ep00_episodio
        inner join pa03_participacao on ep00_id = pa03_episodio_id
        inner join pd02_podcast on ep00_podcast_id = pd02_id
        where
        pa03_integrante_id in
        <foreach item="id" collection="idsIntegrantes" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by ep00_id desc
    </select>

    <insert id="inserir">
        insert into ep00_episodio (ep00_podcast_id, ep00_sequencia, ep00_titulo, ep00_tema, ep00_data_publicacao,
                                   ep00_duracao, ep00_descricao)
        values (#{episodio.podcast.id}, #{episodio.sequencia}, #{episodio.titulo}, #{episodio.tema},
                #{episodio.dataPublicao}, #{episodio.duracao}, #{episodio.descricao})
    </insert>

    <update id="atualizar">
        update ep00_episodio
        set ep00_podcast_id      = #{episodio.podcast.id},
            ep00_sequencia       = #{episodio.sequencia},
            ep00_titulo          = #{episodio.titulo},
            ep00_tema            = #{episodio.tema},
            ep00_data_publicacao = #{episodio.dataPublicao},
            ep00_duracao         = #{episodio.duracao},
            ep00_descricao       = #{episodio.descricao}
        where ep00_id = #{episodio.id}
    </update>

    <delete id="deletar">
        delete
        from ep00_episodio
        where ep00_id = #{id}
    </delete>

</mapper>
