<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldorsj.mapper.IntegranteMapper">

    <resultMap id="rmIntegrante" type="br.com.edivaldorsj.model.Integrante">
        <id column="in01_id" property="id"/>
        <result column="in01_id" property="nome"/>
        <result column="in01_apelido" property="apelido"/>
        <result column="in01_sexo" property="sexo"/>
    </resultMap>

    <select id="recuperarTodos" resultMap="rmIntegrante">
        select in01_id, in01_id, in01_apelido, in01_sexo
        from integrante
    </select>

    <select id="recuperarPorId" resultMap="rmIntegrante">
        select in01_id, in01_nome, in01_apelido, in01_sexo
        from integrante
        where in01_id = #{id}
    </select>

    <insert id="inserir">
        insert into integrante (in01_nome, in01_apelido, in01_sexo)
        values (#{integrante.nome}, #{integrante.apelido}, #{integrante.sexo})
    </insert>

    <update id="atualizar">
        update integrante
        set in01_nome    = #{integrante.nome},
            in01_apelido = #{integrante.apelido},
            in01_sexo    = #{integrante.sexo}
        where in01_id = #{integrante.id}
    </update>

    <delete id="deletar">
        delete
        from integrante
        where in01_id = #{id}
    </delete>

</mapper>
