<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldoramos.mapper.IntegranteMapper">

    <resultMap id="rmIntegrante" type="br.com.edivaldoramos.model.Integrante">
        <id column="in_id" property="id"/>
        <result column="in_id" property="nome"/>
        <result column="in_apelido" property="apelido"/>
        <result column="in_sexo" property="sexo"/>
    </resultMap>

    <select id="recuperarTodos" resultMap="rmIntegrante">
        select in_id, in_id, in_apelido, in_sexo
        from integrante
    </select>

    <select id="recuperarPorId" resultMap="rmIntegrante">
        select in_id, in_nome, in_apelido, in_sexo
        from integrante
        where in_id = #{id}
    </select>

    <insert id="inserir">
        insert into integrante (in_nome, in_apelido, in_sexo)
        values (#{integrante.nome}, #{integrante.apelido}, #{integrante.sexo})
    </insert>

    <update id="atualizar">
        update integrante
        set in_nome    = #{integrante.nome},
            in_apelido = #{integrante.apelido},
            in_sexo    = #{integrante.sexo}
        where in_id = #{integrante.id}
    </update>

    <delete id="deletar">
        delete
        from integrante
        where in_id = #{id}
    </delete>

</mapper>
