<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldoramos.mapper.IntegranteMapper">

    <resultMap id="rmIntegrante" type="br.com.edivaldoramos.model.Integrante">
        <id column="ca01_id" property="id"/>
        <result column="ca01_id" property="nome"/>
        <result column="ca01_apelido" property="apelido"/>
        <result column="ca01_sexo" property="sexo"/>
    </resultMap>

    <select id="recuperarTodos" resultMap="rmIntegrante">
        select ca01_id, ca01_id, ca01_apelido, ca01_sexo
        from ca01_integrante
    </select>

    <select id="recuperarPorId" resultMap="rmIntegrante">
        select ca01_id, ca01_nome, ca01_apelido, ca01_sexo
        from ca01_integrante
        where ca01_id = #{id}
    </select>

    <insert id="inserir">
        insert into ca01_integrante (ca01_nome, ca01_apelido, ca01_sexo)
        values (#{integrante.nome}, #{integrante.apelido}, #{integrante.sexo})
    </insert>

    <update id="atualizar">
        update ca01_integrante
        set ca01_nome    = #{integrante.nome},
            ca01_apelido = #{integrante.apelido},
            ca01_sexo    = #{integrante.sexo}
        where ca01_id = #{integrante.id}
    </update>

    <delete id="deletar">
        delete
        from ca01_integrante
        where ca01_id = #{id}
    </delete>

</mapper>
