<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldoramos.mapper.PodcastMapper">

    <resultMap id="rmIntegrante" type="br.com.edivaldoramos.model.Integrante">
        <id property="id" column="in_id"/>
        <result property="nome" column="in_nome"/>
        <result property="apelido" column="in_apelido"/>
        <result property="sexo" column="in_sexo"/>
    </resultMap>

    <resultMap id="rmEpisodio" type="br.com.edivaldoramos.model.Episodio">
        <id property="id" column="ep_id"/>
        <result property="sequencia" column="ep_sequencia"/>
        <result property="titulo" column="ep_titulo"/>
        <result property="tema" column="ep_tema"/>
        <result property="dataPublicacao" column="ep_data_publicacao"/>
        <result property="duracao" column="ep_duracao"/>
        <result property="descricao" column="ep_descricao"/>
        <result property="podcast.id" column="ep_podcast_id"/>
        <collection property="integrantes" ofType="br.com.edivaldoramos.model.Integrante"
                    resultMap="rmIntegrante"/>
    </resultMap>

    <resultMap id="rmPodcast" type="br.com.edivaldoramos.model.Podcast">
        <id property="id" column="pd_id"/>
        <result property="nome" column="pd_nome"/>
        <result property="dataCriacao" column="pd_data_criacao"/>
        <result property="descricao" column="pd_descricao"/>
        <collection property="episodios" ofType="br.com.edivaldoramos.model.Episodio" resultMap="rmEpisodio"/>
    </resultMap>

    <sql id="recuperarPd">
        select pd_id,
               pd_nome,
               pd_data_criacao,
               pd_descricao,
               ep_id,
               ep_sequencia,
               ep_titulo,
               ep_tema,
               ep_data_publicacao,
               ep_duracao,
               ep_descricao,
               in_id,
               in_apelido,
               in_nome,
               in_sexo
        from pd_podcast
                 inner join ep_episodio on ep_podcast_id = pd_id
                 inner join pa_participacao on pa_episodio_id = ep_id
                 inner join in_integrante on pa_integrante_id = in_id
    </sql>

    <select id="recuperarTodos" resultMap="rmPodcast">
        <include refid="recuperarPd"/>
    </select>

    <select id="recuperarPorId" resultMap="rmPodcast">
        <include refid="recuperarPd"/>
        where pd_id = #{id}
    </select>

    <select id="recuperarPorNome" resultMap="rmPodcast">
        <include refid="recuperarPd"/>
        where pd_nome = #{nome}
    </select>

    <insert id="inserir">
        insert into pd_podcast (pd_nome, pd_data_criacao, pd_descricao)
        values (#{podcast.nome}, #{podcast.dataCriacao}, #{podcast.descricao})
    </insert>

    <update id="atualizar">
        update pd_podcast
        set pd_nome         = #{podcast.nome},
            pd_data_criacao = #{podcast.dataCriacao},
            pd_descricao    = #{podcast.descricao}
        where in_id = #{podcast.id}
    </update>

    <delete id="deletar">
        delete
        from pd_podcast
        where pd_id = #{id}
    </delete>

</mapper>
