<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.edivaldorsj.mapper.PodcastMapper">

    <resultMap id="rmIntegrante" type="br.com.edivaldorsj.model.Integrante">
        <id property="id" column="ca01_id"/>
        <result property="nome" column="ca01_nome"/>
        <result property="apelido" column="ca01_apelido"/>
        <result property="sexo" column="ca01_sexo"/>
    </resultMap>

    <resultMap id="rmEpisodio" type="br.com.edivaldorsj.model.Episodio">
        <id property="id" column="ca00_id"/>
        <result property="sequencia" column="ca00_sequencia"/>
        <result property="titulo" column="ca00_titulo"/>
        <result property="tema" column="ca00_tema"/>
        <result property="dataPublicacao" column="ca00_data_publicacao"/>
        <result property="duracao" column="ca00_duracao"/>
        <result property="descricao" column="ca00_descricao"/>
        <result property="podcast.id" column="ca00_podcast_id"/>
        <collection property="integrantes" ofType="br.com.edivaldorsj.model.Integrante"
                    resultMap="rmIntegrante"/>
    </resultMap>

    <resultMap id="rmPodcast" type="br.com.edivaldorsj.model.Podcast">
        <id property="id" column="ca02_id"/>
        <result property="nome" column="ca02_nome"/>
        <result property="dataCriacao" column="ca02_data_criacao"/>
        <result property="descricao" column="ca02_descricao"/>
        <collection property="episodios" ofType="br.com.edivaldorsj.model.Episodio" resultMap="rmEpisodio"/>
    </resultMap>

    <sql id="recuperarPd">
        select ca02_id,
               ca02_nome,
               ca02_data_criacao,
               ca02_descricao,
               ca00_id,
               ca00_sequencia,
               ca00_titulo,
               ca00_tema,
               ca00_data_publicacao,
               ca00_duracao,
               ca00_descricao,
               ca01_id,
               ca01_apelido,
               ca01_nome,
               ca01_sexo
        from ca02_podcast
                 inner join ca00_episodio on ca02_id = ca00_podcast_id
                 inner join ca03_participacao on ca00_id = ca03_episodio_id
                 inner join ca01_integrante on ca03_integrante_id = ca01_id
    </sql>

    <select id="recuperarTodos" resultMap="rmPodcast">
        <include refid="recuperarPd"/>
    </select>

    <select id="recuperarPorId" resultMap="rmPodcast">
        <include refid="recuperarPd"/>
        where ca02_id = #{id}
    </select>

    <select id="recuperarPorNome" resultMap="rmPodcast">
        <include refid="recuperarPd"/>
        where ca02_nome = #{nome}
    </select>

    <insert id="inserir">
        insert into ca02_podcast (ca02_nome, ca02_data_criacao, ca02_descricao)
        values (#{podcast.nome}, #{podcast.dataCriacao}, #{podcast.descricao})
    </insert>

    <update id="atualizar">
        update ca02_podcast
        set ca02_nome         = #{podcast.nome},
            ca02_data_criacao = #{podcast.dataCriacao},
            ca02_descricao    = #{podcast.descricao}
        where ca02_id = #{podcast.id}
    </update>

    <delete id="deletar">
        delete
        from ca02_podcast
        where ca02_id = #{id}
    </delete>

</mapper>
